<!-- templates/register.html -->
{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="w3-bar w3-large w3-padding" style="background-color: #06402B;">
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-hover-light-blue">
        <i class="fa fa-home"></i> Home
    </a>
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hover-light-blue">
        <i class="fa fa-sign-in"></i> Log In
    </a>
</div>

<div class="w3-container w3-padding-32 w3-center">
    <div class="w3-card w3-round-large w3-padding-32 w3-light-grey w3-animate-opacity" style="max-width:500px; margin:auto;">
        <h2 style="color: #06402B;"><i class="fa fa-user-plus"></i> Register</h2>
        <form method="post" class="w3-container w3-margin-top">
            <label><i class="fa fa-id-card"></i> Student Number</label>
            <input class="w3-input w3-border w3-round-large w3-margin-bottom" name="username" type="number" required>

            <label><i class="fa fa-lock"></i> Password</label>
            <input class="w3-input w3-border w3-round-large w3-margin-bottom" name="password" type="password" minlength="7" placeholder="At least 7 characters" required>

            <label><i class="fa fa-envelope"></i> Email</label>
            <input class="w3-input w3-border w3-round-large w3-margin-bottom" name="email" type="email" required>

            <label><i class="fa fa-calendar"></i> Year Level</label>
            <select class="w3-select w3-border w3-round-large w3-margin-bottom" name="year_level" required>
                <option value="" disabled selected>Select Year</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>

            <label><i class="fa fa-venus-mars"></i> Gender</label>
            <select class="w3-select w3-border w3-round-large w3-margin-bottom" name="gender" required>
                <option value="" disabled selected>Select Gender</option>
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>

            <label><i class="fa fa-users"></i> House</label>
            <select class="w3-select w3-border w3-round-large w3-margin-bottom" name="house" required>
                <option value="" disabled selected>Select House</option>
                <option value="Scudo">Scudo</option>
                <option value="Boek">Boek</option>
                <option value="Taja">Taja</option>
                <option value="Mitre">Mitre</option>
                <option value="Gladius">Gladius</option>
            </select>

            <button class="w3-button w3-round-large w3-large w3-margin-top" style="background-color: #06402B; color: #fff;" type="submit">
            <i class="fa fa-user-plus"></i> Register
            </button>
        </form>
        <p class="w3-margin-top">Already have an account? <a href="{{ url_for('login') }}">Log In</a></p>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}