<!-- templates/student_portal.html -->
{% extends 'base.html' %}
{% block title %}Student Portal{% endblock %}
{% block content %}

<div class="w3-bar w3-blue w3-large w3-padding">
    <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-hover-light-blue">
        <i class="fa fa-home"></i> Home
    </a>
    <a href="{{ url_for('register') }}" class="w3-bar-item w3-button w3-hover-light-blue">
        <i class="fa fa-user-plus"></i> Register
    </a>
    <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hover-light-blue">
        <i class="fa fa-sign-in"></i> Log In
    </a>
</div>

<div class="w3-container w3-padding-32 w3-center">
    <div class="w3-card w3-round-large w3-padding-32 w3-light-grey w3-animate-opacity" style="max-width:500px; margin:auto;">
        <h2 class="w3-text-blue"><i class="fa fa-graduation-cap"></i> Student Portal</h2>
        <p>Welcome to the Student Portal.<br>Nominate for events and view your nominations.</p>
        <div class="w3-margin-top">
            <a href="{{ url_for('register') }}" class="w3-button w3-aqua w3-round-large w3-large w3-margin-bottom">
                <i class="fa fa-user-plus"></i> Register Here
            </a>
            <br>
            <a href="{{ url_for('login') }}" class="w3-button w3-green w3-round-large w3-large">
                <i class="fa fa-sign-in"></i> Login Here
            </a>
        </div>
    </div>
</div>
{% endblock %}